<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Configy" version="1.0.0-pre02" targetFramework="net452" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net452" />
  <package id="NSubstitute" version="2.0.2" targetFramework="net452" />
  <package id="Rainbow.Core" version="2.0.0-pre06" targetFramework="net452" />
  <package id="xunit" version="2.2.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net452" />
  <package id="xunit.assert" version="2.2.0" targetFramework="net452" />
  <package id="xunit.core" version="2.2.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net452" />
</packages>