<?xml version="1.0" encoding="utf-8" ?>

<leprechaun>
	<configurations>
		<configuration name="Lepresample">

		</configuration>
	</configurations>

	<!-- Config shared across all configurations -->
	<shared>
		<metadataGenerator type="Leprechaun.MetadataGeneration.StandardTemplateMetadataGenerator, Leprechaun" singleInstance="true" />
		<architectureValidator type="Leprechaun.Validation.StandardArchitectureValidator, Leprechaun" singleInstance="true" />
		<architectureValidatorLogger type="Leprechaun.Validation.StandardArchitectureValidatorLogger, Leprechaun" singleInstance="true" />
	</shared>
	
	<!-- Defaults all configurations inherit unless overridden -->
	<defaults>
		<dataStore physicalRootPath="$(dataFolder)\Unicorn\$(configurationName)" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
		
		<templateFilter type="Leprechaun.Filters.StandardTemplateFilter, Leprechaun" singleInstance="true">
			<include path="/sitecore/templates/$(layer)/$(module)" />
		</templateFilter>

		<fieldFilter type="Leprechaun.Filters.StandardFieldFilter, Leprechaun" singleInstance="true">
			<exclude name="__*" />
		</fieldFilter>
		
		<typeNameGenerator type="Leprechaun.MetadataGeneration.StandardTypeNameGenerator, Leprechaun" singleInstance="true" />
		<templateReader type="Leprechaun.TemplateReaders.DataStoreTemplateReader, Leprechaun" singleInstance="true" />

		<serializationFormatter type="Rainbow.Storage.Yaml.YamlSerializationFormatter, Rainbow.Storage.Yaml" singleInstance="true">
			<fieldFormatter type="Rainbow.Formatting.FieldFormatters.MultilistFormatter, Rainbow" />
			<fieldFormatter type="Rainbow.Formatting.FieldFormatters.XmlFieldFormatter, Rainbow" />
			<fieldFormatter type="Rainbow.Formatting.FieldFormatters.CheckboxFieldFormatter, Rainbow" />
		</serializationFormatter>

		<fieldFilter type="Leprechaun.Filters.RainbowNullFieldFilter, Leprechaun" singleInstance="true" />
	</defaults>
	
	
</leprechaun>